<ul class="sidebar-menu">

    <!-- DASHBOARD -->
    <li>
        <a href="{{ url_for('admin.dashboard') }}"
           class="{% if request.endpoint == 'admin.dashboard' %}active{% endif %}"
           data-title="Dashboard">

            <i class="bi bi-grid-fill"></i>

            <span class="menu-text">
                Dashboard
            </span>

        </a>
    </li>

    <!-- SPMB -->
    <li class="menu-title">
        SPMB
    </li>

    <li>
        <a href="{{ url_for('admin.calon_siswa') }}"
           class="{% if request.endpoint == 'admin.calon_siswa' %}active{% endif %}"
           data-title="Data Pendaftar">

            <i class="bi bi-people-fill"></i>

            <span class="menu-text">
                Data Pendaftar
            </span>

        </a>
    </li>

    <li>
        <a href="{{ url_for('admin.data_berkas') }}"
           class="{% if request.endpoint in ['admin.data_berkas','admin.detail_berkas'] %}active{% endif %}"
           data-title="Verifikasi Berkas">

            <i class="bi bi-file-earmark-check-fill"></i>

            <span class="menu-text">
                Verifikasi Berkas
            </span>

        </a>
    </li>

    <li>
        <a href="{{ url_for('admin.hasil_seleksi') }}"
           class="{% if request.endpoint == 'admin.hasil_seleksi' %}active{% endif %}"
           data-title="Hasil Seleksi">

            <i class="bi bi-award-fill"></i>

            <span class="menu-text">
                Hasil Seleksi
            </span>

        </a>
    </li>

    <!-- UJIAN -->
    <li class="menu-title">
        UJIAN
    </li>

    <li>
        <a href="{{ url_for('admin.bank_soal') }}"
           class="{% if request.endpoint in ['admin.bank_soal','admin.tambah_soal','admin.edit_soal','admin.upload_soal_pdf','admin.preview_upload_soal_pdf'] %}active{% endif %}"
           data-title="Bank Soal">

            <i class="bi bi-journal-text"></i>

            <span class="menu-text">
                Bank Soal
            </span>

        </a>
    </li>

    <li>
        <a href="{{ url_for('admin.hasil_ujian') }}"
           class="{% if request.endpoint in ['admin.hasil_ujian','admin.koreksi_esai'] %}active{% endif %}"
           data-title="Hasil Ujian">

            <i class="bi bi-bar-chart-fill"></i>

            <span class="menu-text">
                Hasil Ujian
            </span>

        </a>
    </li>

    <!-- SISTEM -->
    <li class="menu-title">
        SISTEM
    </li>

    <li>
        <a href="{{ url_for('auth.logout') }}"
           data-title="Logout">

            <i class="bi bi-box-arrow-right"></i>

            <span class="menu-text">
                Logout
            </span>

        </a>
    </li>

</ul>