<ul class="sidebar-menu">
    <li>
        <a href="{{ url_for('siswa.dashboard') }}" class="{% if request.endpoint == 'siswa.dashboard' %}active{% endif %}" data-title="Dashboard">
            <i class="bi bi-grid-fill"></i><span class="menu-text">Dashboard</span>
        </a>
    </li>

    <li class="menu-title">PENDAFTARAN</li>
    <li>
        <a href="{{ url_for('siswa.formulir') }}" class="{% if request.endpoint == 'siswa.formulir' %}active{% endif %}" data-title="Formulir SPMB">
            <i class="bi bi-file-earmark-person-fill"></i><span class="menu-text">Formulir SPMB</span>
        </a>
    </li>
    <li>
        <a href="{{ url_for('siswa.upload_berkas') }}" class="{% if request.endpoint == 'siswa.upload_berkas' %}active{% endif %}" data-title="Upload Berkas">
            <i class="bi bi-cloud-upload-fill"></i><span class="menu-text">Upload Berkas</span>
        </a>
    </li>

    <li class="menu-title">UJIAN</li>
    <li>
        <a href="{{ url_for('siswa.mulai_ujian') }}" class="{% if request.endpoint in ['siswa.mulai_ujian','siswa.ujian'] %}active{% endif %}" data-title="Ujian SPMB">
            <i class="bi bi-pencil-square"></i><span class="menu-text">Ujian SPMB</span>
        </a>
    </li>
    <li>
        <a href="{{ url_for('siswa.pengumuman') }}" class="{% if request.endpoint == 'siswa.pengumuman' %}active{% endif %}" data-title="Pengumuman">
            <i class="bi bi-megaphone-fill"></i><span class="menu-text">Pengumuman</span>
        </a>
    </li>

    <li class="menu-title">AKUN</li>
    <li>
        <a href="{{ url_for('auth.logout') }}" data-title="Logout">
            <i class="bi bi-box-arrow-right"></i><span class="menu-text">Logout</span>
        </a>
    </li>
</ul>
