/* ==================================================
   LOGIN & REGISTER
================================================== */

.auth-wrapper{

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;
}

.auth-card{

    width:100%;

    max-width:460px;
}

.form-control{

    height:50px;

    border-radius:12px;
}

.form-control:focus{

    box-shadow:none;

    border-color:var(--primary);
}

.btn-auth{

    height:50px;

    border-radius:12px;

    font-weight:600;
}